*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(6, 6, 118);
}

section#grid{
    height:calc((100% / 10) - 4px);
    width: calc((100% / 10) - 4px);
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
}

article{
    border: 2px solid white;
    
}